// Here you can add other styles
.bg-success{
  background-color: #00602C!important;
}

.btn-primary {
  color: #fff;
  background-color: #00602C!important;
  border-color: #00602C!important;
}

// Here you can add other styles
.ck-content{
  min-height: 150px;;
  max-height: 300px;;
}

.dropdown-menu{
  left: auto!important;
  right: -50px!important;
}


